body{
	margin: 0px auto;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

#content_wrapper{
	width: 1000px;
	overflow-x: hidden;
	min-height: 4000px;
}


#bg{
	position: fixed;
	top: 0px;
	width: 105%;
	z-index: -100;
}
#person{
	position: fixed;
	bottom: 5px;
	left: 40px;
	z-index: 500;
}

#bus{
	position: fixed;
	top: 30%;
}

#shops{
	position: fixed;
	top: 0%;
}

.shops_img{
	height:85%;
}


.bus_img{
	z-index: 200;
}

.bg_img{
	width: 100%;
	z-index: -100;
}

/*#text1{
	position: fixed;
	bottom: 40%;
	left: 15%;
	z-index: 600;
}

#text2{
	position: fixed;
	top: 39%;
	left:35%;
	z-index: 600;
}

#text3{
	position: fixed;
	top:55%;
	left: 30%;
	z-index: 600;
}*/

#road{
	position: fixed;
	bottom: 0%;
	z-index: -100;
}

#traffic	{
	position: fixed;
	bottom: 0%;
	z-index: 200;
}

#traffic_layer1{
	position: fixed;
	bottom: 10%;
}

#traffic_layer2{
	position: fixed;
	bottom: -2%;
}

.traffic_layer1_img, .traffic_layer2_img{
	height: 50%;
}

#scroll {
	z-index: 800;
	position: fixed;
	top: 35%;
	left: 40%;
}

#scroll img{
	width: 50%;
}

#space{
	visibility: hidden;
	position: fixed;
	z-index: 900;
	top: 35%;
	left: 35%;
}

#space img{
	width: 50%;
}
/* CODE FOR POPUP FROM W3 schools*/
/* for popups */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: antiquewhite;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 1.2em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    max-height: 200px;
    overflow-y: scroll;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #aaa transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

